
@model Blog.ViewModels.Blog.DetallesPostBlogViewModel

@{
    ViewBag.Title = Model.Post.Titulo;
    ViewBag.MetaDescripcion = Model.Post.Descripcion;
    ViewBag.MetaPalabrasClave = Model.Post.PalabrasClave;
    ViewBag.ImagenPrincipal = Model.Post.UrlImagenPrincipal;
}



<br />
<div class="row">
    <!-- Blog Post Content Column -->
    <div class="col-lg-8">
        <!-- Blog Post -->
        <div>
            @Html.DisplayFor(m => m.Post, "DisplayPost")
        </div>

        <div>
            @foreach (var item in Model.PostsSugeridos)
            {
                @Html.Partial("_ItemLineaResumenPost", item)
            }

        </div>

        <div class="clearfix"></div>


        <!-- Blog Comments -->
        <div class="well">
            @Html.Partial("_Disqus", Model.Post)
        </div>
    </div>

    @Html.Partial("_SidebarPrincipal")

</div>
<!-- /.row -->
