@model Blog.ViewModels.Blog.ListaPostsBlogResumidosViewModel

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br/>
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->
        @Html.Partial("_ListaPostsPrimeraDestacada", Model.ListaPosts)
    </div>
    @Html.Partial("_SidebarPrincipal")
   
</div>@*
      LightWidget WIDGET INSTAGRAM
    <hr />
    <h3 class="color1">Instagram @@smoothiesdecuchara</h3>
    <script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/e175568f86365fbbb24411895a5dcc60.html" id="lightwidget_e175568f86" name="lightwidget_e175568f86" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>

*@