@model Blog.ViewModels.Blog.ListaPostsBlogCompletosViewModel

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<br/>
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->
        @Html.Partial("_ListaLineasCompletasPost", Model.ListaPosts)
    </div>
    @Html.Partial("_SidebarPrincipal")
   
</div>
