@{
    ViewBag.Title = "Hola";
}
<h2>¡Hola, soy Laura!</h2>

<p>Vivo en El Masnou, un pueblo de playa muy cerca de Barcelona.</p>
<p>Además de hacer smoothies me encanta tocar el piano, el Pilates, los lunes,
     la playa, tejer bufandas, abrazar fuerte y viajar lejos.</p>





