@{
    ViewBag.Title = "Hola";
}
<h2>¡Hola!</h2>

<p>Mi nombre es Laura y vivo en El Masnou, un pueblo de playa muy cerca de Barcelona.</p>
<p>Además de hacer smoothies me encanta tocar el piano, practicar Pilates, nadar, los lunes,
     la playa, tejer cuellos de lana, abrazar fuerte y viajar lejos.</p>





