@{
    ViewBag.Title = "Hola";
}
<h2>¡Hola!</h2>

<p>Mi nombre es Laura y vivo en <strong class="color1">El Masnou</strong>, un pueblo de playa cerca de Barcelona.</p>

<p>De niña quería ser exploradora pero finalmente terminé por dedicarme a la informática. Un giro como cualquier otro.</p>

<p>Mi primera batidora americana me la regalaron mis compañeros de trabajo en mi último día. Empezaba ahí una aventura vital y 
    empresarial junto al <strong class="color1">#señorsmoothies</strong> que dura hasta hoy: nuestra propia empresa de programación web. </p>
<p>
    Además de hacer smoothies me encanta tocar el piano, practicar Pilates, cultivar hortalizas,
    nadar, tejer cuellos de lana (que suelo regalar) y viajar.
</p>
<p>Gracias por pasarte por aquí, espero que encuentres ideas interesantes que te ayuden a empezar bien el día.</p>

<p>¡Un abrazo!</p>
<p>:D</p>
<p>L.</p>



