@{
    ViewBag.Title = "Programador .Net freelance · albertcapdevila.net";
}


<div class="jumbotron">

    <h2>¡Hola! ¿Necesitas un programador?</h2>
    <p>
        Soy Albert Capdevila un programador .Net freelance que trabaja remotamente desde El Masnou, Barcelona

    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Contratame")" role="button">Contrátame</a>
        <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Blog")" role="button">Blog</a>
    </p>


</div>

<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

 




        <h2>¿Qué hago?</h2>

        <ul>
            <li>
                <p>
                    Principalmente programo <b>aplicaciones orientadas a la gestión</b>, pero también realizado migraciones de datos, integraciones con aplicaciones externas, conectores, servicios, bases de datos, etc.
                </p>
            </li>


            <li>
                <p>
                    Participo y conozco el ciclo de vida completo del software.
                </p>
            </li>
            <li>
                <p>
                    Durante la fase de creación tomo requerimientos, propongo soluciones y <b>presento estimaciones al cliente</b>, explicando pros y contras y permitiendo escoger la mejor opción.
                </p>
            </li>

            <li>
                <p>
                    Durante las primeras fases de desarrollo diseño la arquitectura, la infraestructura, el funcional y la base de datos.
                </p>
            </li>
            <li>
                <p>
                    Soy capaz de entregar
                    <b>
                        soluciones económicas que se adaptan perfectamente a las necesidades del cliente.
                    </b>
                </p>
            </li>

            <li>
                <p>
                    Me encanta resolver problemas buscando la solución más simple. Conozco y aplico principios de programación y patrones de diseño y los adapto según las necesidades.
                </p>
            </li>

            <li>
                <p>
                    Me gusta también trabajar en equipo y transmitir todo el conocimiento adquirido. Así mismo estoy ávido de nuevos conocimientos y me siento en un continuo proceso de aprendizaje.
                </p>
            </li>

            <li>
                <p>
                    Puedo definir los mecanismos de entrega del software y configurar y adaptar los sistemas para su funcionamiento.
                </p>
            </li>
        </ul>
        <br />


        <h4>
            Puedes contactar conmigo enviándome un <a href="mailto:albert@acapdevila.net" target="_blank">email</a>
        </h4>
        <h4>
            O utilizar el <a href="@Url.Action("Index", "Contacto")">formulario de contacto</a>
        </h4>



    </div>
    <div class="col-md-4">
        
     
        <div class="well">
            <h2 class="color3">
                Stack tecnológico
            </h2>

            <p>
                <ul>
                    <li>
                        <b>Lenguajes:</b> C#, VB.net, Tranasct-SQL, javascript, CSS, HTML
                    </li>
                    <li>
                        <b>Frameworks:</b> .net Framework, .net Core, MVC, RazorPages, WebForms, WinForms, WPF, Xamarin, Entity Framework, WCF, jQuery, Bootstrap
                    </li>
                    <li>
                        <b>Bases de datos:</b> SQL Server, Access
                    </li>
                    <li>
                        <b> Nube:</b> Azure (AppServices, SQLAzure, Bus), Máquinas virtuales, Hosting compartido
                    </li>
                    <li>
                        <b>Código:</b> patrones de diseño, principios de programación, código limpio (SOLID), programación orientada al dominio DDD
                    </li>
                </ul>


            </p>

        </div>
        
    
    </div>
</div>


