@model Blog.ViewModels.Sidebar.NubeEtiquetasViewModel

@{
    Layout = null;
}

<div class="well">
    <h2>Etiquetas</h2>
    <div class="row">
        
            <ul class="list-unstyled list-inline">
             @foreach (var etiqueta in Model.EtiquetasTodas)
                    {
                        @Html.DisplayFor(m => etiqueta, "LinkEtiqueta")
                    }
            </ul>
        
        
    </div>
    <!-- /.row -->
</div>