
@{
    ViewBag.Title = "Hola";
}

<div class="col-md-8">
    <h2>¡Hola!</h2>    

    <p>
        Una mañana de verano decidí empezar a compartir mis desayunos en <a href="https://www.instagram.com/bylauragarcia/" target="_blank">Instagram</a> y aquí sigo.
    </p>
    <p>
        Además de cocinar me encanta tocar el piano, practicar Pilates, cultivar hortalizas,
        cuidar de mis plantas, las Havaianas, tejer y viajar.
    </p>
    <p>Gracias por pasarte por aquí.</p>
    <p>¡Un abrazo grande!</p>

    <p class="styledtypo color2" style="font-size:50px">Laura</p>
</div>
<div class="col-md-4">
    <img class="img-circle pull-right" src="~/Content/imagenes/laura.jpg" alt="by Laura García" />
</div>

