@model Blog.ViewModels.Libros.LibrosProgramacionViewmodel

@{
    ViewBag.Title = "Mis libros favoritos de propgramación y buenas prácticas";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-12">
        <p>
            Aquí tienes una selección de mis libros favoritos de recetas, salud, cosmética ecológica, huerto urbano, maternidad, lactancia y educación. Una especie de paseo virtual por mi biblioteca. :)
        </p>
        <p>
            Haciendo clic en cada imagen podrás ver el libro en Amazon.
            Algunos no han sido traducidos aun al castellano, en ese caso enlazo la versión en inglés.
        </p>


        <h2>Libros de recetas</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2uvgvKA" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/greenkitchen.jpg" alt="Green Kitchen At Home. Quick And Healthy Vegetarian Food" />
            </a>
            <a href="https://amzn.to/2uvgvKA" target="_blank" rel="nofollow">
                <h4>Green Kitchen At Home. Quick And Healthy Vegetarian Food</h4>
            </a>
        </div>

    </div>

</div>