@model Blog.ViewModels.Post.ListaGestionBlogsViewModel

@{
    ViewBag.Title = "Lista posts";
}

<h2>Lista posts</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            Título
        </th>
       <th></th>

    </tr>

@foreach (var item in Model.ListaBlogs) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) 
        </td>
        <td>
            @Html.ActionLink(item.Titulo, "Details", new {id = item.Id})

        </td>
        <td>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>

    </tr>
}

</table>
