
@{
    ViewBag.Title = "Utensilios de cocina";
}

<h1>Utensilios de cocina</h1>

<div class="row">
    <div class="col-md-12">

        <p>Recibo muchas consultas sobre los utensilios de cocina que utilizo, así que aquí tienes algunos de mis favoritos.</p>


        <h2>Para medir</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2IFo2fP" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/tazasJoseph.jpg" alt="Joseph Joseph Nest tazas medidoras" />
            </a>
            <a href="https://amzn.to/2IFo2fP" target="_blank" rel="nofollow">
                <h4>Tazas y cucharas medidoras</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2IHshXY" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/tazasacero.jpg" alt="Tazas y cucharas medidoras de acero inoxidable" />
            </a>
            <a href="https://amzn.to/2IHshXY" target="_blank" rel="nofollow">
                <h4>Tazas y cucharas medidoras de acero inoxidable</h4>
            </a>
        </div>
        
        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2OJzdt4" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/bascula.jpg" alt="Báscula de cocina digital" />
            </a>
            <a href="https://amzn.to/2OJzdt4" target="_blank" rel="nofollow">
                <h4>Báscula de cocina digital</h4>
            </a>
        </div>

    </div>
    <div class="col-md-12">


        <h2>Para amasar y hornear</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2pB9oNM" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/bannetton.jpg" alt="Bannetton para fermentar pan" />
            </a>
            <a href="https://amzn.to/2pB9oNM" target="_blank" rel="nofollow">
                <h4>Bannetton para fermentar pan</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2IG96xN" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/rodillo.jpg" alt="Rodillo con nivelador del grosor" />
            </a>
            <a href="https://amzn.to/2IG96xN" target="_blank" rel="nofollow">
                <h4>Rodillo con nivelador del grosor</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2OEBLJb" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/portatartas.jpg" alt="Porta tartas" />
            </a>
            <a href="https://amzn.to/2OEBLJb" target="_blank" rel="nofollow">
                <h4>Porta tartas</h4>
            </a>
        </div>

    </div>
    <div class="col-md-12">

        <h2>Moldes</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2OzwqTt" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/molderectangularlekue.jpg" alt="Molde rectangular de silicona de 24 cm" />
            </a>
            <a href="https://amzn.to/2OzwqTt" target="_blank" rel="nofollow">
                <h4>Molde rectangular de 24 cm</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href=" https://amzn.to/2OJpRhi" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/moldechocolate.jpg" alt="Molde para turrón y chocolate" />
            </a>
            <a href=" https://amzn.to/2OJpRhi" target="_blank" rel="nofollow">
                <h4>Molde para turrón y chocolate</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2ygSHeE" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/donuts.jpg" alt="Moldes de silicona para donuts y bagels" />
            </a>
            <a href="https://amzn.to/2ygSHeE" target="_blank" rel="nofollow">
                <h4>Moldes de silicona para donuts y bagels</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2QrT6Ce" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/minipolos.jpg" alt="Mini polos apilables" />
            </a>
            <a href="https://amzn.to/2QrT6Ce" target="_blank" rel="nofollow">
                <h4>Mini polos apilables</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2NrPmii" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/molderectangularwilton.jpg" alt="Molde rectangular" />
            </a>
            <a href="https://amzn.to/2NrPmii" target="_blank" rel="nofollow">
                <h4>Molde rectangular</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="Molde rectangular con tapa" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/moldewiltontapa.jpg" alt="Molde rectangular con tapa" />
            </a>
            <a href="Molde rectangular con tapa" target="_blank" rel="nofollow">
                <h4>Molde rectangular con tapa</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2O9pfSA" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/moldebarritaschoco.jpg" alt="Molde para barritas" />
            </a>
            <a href="https://amzn.to/2O9pfSA" target="_blank" rel="nofollow">
                <h4>Molde para barritas</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2QvU9ky" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/molderedondo20.jpg" alt="Molde redondo para tartas de 20 cm" />
            </a>
            <a href="https://amzn.to/2QvU9ky" target="_blank" rel="nofollow">
                <h4>Molde redondo para tartas de 20 cm</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/xxx.jpg" alt="" />
            </a>
            <a href="" target="_blank" rel="nofollow">
                <h4></h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/xxx.jpg" alt="" />
            </a>
            <a href="" target="_blank" rel="nofollow">
                <h4></h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2IFXWZP" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/bagels.jpg" alt="Molde para bagels" />
            </a>
            <a href="https://amzn.to/2IFXWZP" target="_blank" rel="nofollow">
                <h4>Molde para bagels</h4>
            </a>
        </div>

    </div>
    <div class="col-md-12">

        <h2>Para colar y filtrar</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2Rvbv2h" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/bolsalechevegetal.jpg" alt="Bolsa para leches vegetales" />
            </a>
            <a href="https://amzn.to/2Rvbv2h" target="_blank" rel="nofollow">
                <h4>Bolsa para leches vegetales</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2Oy3lb5" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/bolsafibra.jpg" alt="Bolsa para leches vegetales de fibra natural" />
            </a>
            <a href="https://amzn.to/2Oy3lb5" target="_blank" rel="nofollow">
                <h4>Bolsa para leches vegetales de fibra natural</h4>
            </a>
        </div>

    </div>
    <div class="col-md-12">

        <h2>Para cortar</h2>

        <div class="col-md-3 col-sm-6 productgrid">
            <a href="https://amzn.to/2QtrNrh" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/utensilios/tijerahierbas.jpg" alt="Tijera para hierbas aromáticas" />
            </a>
            <a href="https://amzn.to/2QtrNrh" target="_blank" rel="nofollow">
                <h4>Tijera para hierbas aromáticas</h4>
            </a>
        </div>

    </div>

</div>

@*Plantilla

    <div class="col-md-3 col-sm-6 productgrid">
        <a href="" target="_blank" rel="nofollow">
            <img src="~/Content/imagenes/utensilios/xxx.jpg" alt="" />
        </a>
        <a href="" target="_blank" rel="nofollow">
            <h4></h4>
        </a>
    </div>

*@