
@{
    ViewBag.Title = "Mis libros favoritos de salud y recetas";
}

<h1>Utensilios de cocina</h1>

<div class="row">
    <div class="col-md-12">

      Aquí tienes algunos de mis utensilios de cocina favoritos.

        </div>
    </div>

