@{
    ViewBag.Title = "Programador .NET en Barcelona";
    ViewBag.MetaDescripcion = "Contrata un programador C#.NET freelance en Barcelona";
    ViewBag.MetaPalabrasClave = "";
}


<h1>Programador .NET freelance en Barcelona</h1>

<p>
    Soy un programador especializado en .NET con más de 10 años de experiencia que trabaja remotamente desde El Masnou (Barcelona).
</p>

<br />
<h2>¿Cómo puedo ayudarte?</h2>
<br/>
<h4>
    Puedo unirme a tu equipo de desarrollo y ser uno más
</h4>
<p>
    <ul>
        <li>
            Si tienes picos de trabajo o necesitas un refuerzo puntualmente puedo unirme a tu equipo de trabajo para aportar el músculo que te falta.
        </li>
        <li>
            Aprendo rápido y me adapto a la filosofía utilizada en el proyecto.
        </li>
        <li>
            Soy proactivo y aconsejo sobre puntos de mejora que pueda detectar.
        </li>
    </ul>
</p>

<br />

<h4>
    Puedo ayudarte a renovar tu aplicación antigua
</h4>

<p>
    <ul>
        <li>
            ¿Tienes una aplicación que funciona pero que ya tiene muchos años y estás planteándote si debes renovarla?
        </li>
        <li>
            ¿Tienes un proyecto heredado que los programadores temen tocar?
        </li>
        <li>
            ¿Lleva mucho tiempo lanzar una nueva versión y genera gran cantidad de errores?
        </li>
        <li>
            ¿No sabes si seguir evolucionando con ella o reescribirla desde cero?
        </li>
        <li>
            Te puedo ayudar a tomar esta decisión. Puedo ofrecerte un plan detallado para corregir la situación o para renovar la aplicación.
        </li>
        <li>
            Te detallaré todas las opciones que tienes, las implicaciones que suponen y el coste de cada una.
        </li>
        <li>
            Puedo realizar un prototipo inicial o un producto mínimo viable a partir del cual poder decidir qué camino tomar.
        </li>
    </ul>
</p>
<br />

<h4>
    Puedo ayudarte a crear funcionalidades extra a tu CRM, ERP, CMS o e-Commerce
</h4>
<p>
    <ul>
        <li>
            Por muy famoso que sea el programa que has comprado siempre hay una funcionalidad que pensabas que vendría de fábrica pero que no existe.
        </li>
        <li>
            Puedo programar tu CRM, ERP, CMS o e-Commerce para que haga lo que necesites y desarrollar módulos extra que te ayuden con las particularidades de tu negocio.
        </li>
    </ul>

</p>

<br />

<h4>	Puedo conectarme con tu aplicación en la nube e integrarla a tu propia aplicación de gestión</h4>

<p>
    <ul>
        <li>
            Las aplicaciones modernas ofrecen API's públicas que permiten integrar y automatizar procesos con tus propias aplicaciones.
        </li>
        <li>
            Puedo ayudarte a conectar con cualquier API externa e interactuar entre tu aplicación y la aplicación externa para automatizar un proceso o para leer los datos de otras aplicaciones como si formaran parte de la tuya.
        </li>
    </ul>



</p>

<br />

<h4>
    Puedo ayudarte a crear una base de datos
</h4>

<p>
    <ul>
        <li>

            ¿Realizas trabajos repetitivos copiando los mismos valores una y otra vez en documentos Word y Excel?
            ¿El cambio de un valor significa modificar varios archivos?

        </li>
        <li>
            Puedo crear una base de datos centralizando los valores maestros y generar los informes en Word o Excel.
            De este modo un cambio  de valor solo lo modificarás una vez y además tendrás una base de datos donde poder hacer consultas de forma cómoda.

        </li>

    </ul>
</p>

<br />
<h4>
    Puedo ser tu equipo de programación
</h4>
<p>
    <ul>
        <li>
            Si no tienes equipo o tu único miembro se ha jubilado puedo retomar el trabajo donde se había quedado.

        </li>
        <li>
            Puedo desarrollar nuevas funcionalidades o mantener las que haya.
        </li>
    </ul>
</p>

<br />
<h4>
    Puedo darte soporte extra en tu side-project
</h4>
<p>
    <ul>
        <li>
            Puedo ayudarte a tomar decisiones y si quieres puedo realizar <i>pair-programming</i> contigo.
        </li>
        <li>
            Te ayudaré a evitar problemas que son muy costosos de solucionar en el futuro.
        </li>
    </ul>
</p>
<br />
<h4>
    Puedo revisar tu código (code review)
</h4>

<p>
    <ul>
        <li>
            No necesitas ayuda programando pero sí que alguien revise tu código. Eso reforzaría tu confianza y tu tranquilidad.
        </li>
        <li>
            Particularmente busco problemas relacionados con la legibilidad, la encapsulación, el acoplamiento, la mantenibilidad, etc.
        </li>
    </ul>
</p>
<br />
<h4>
    Puedo asesorar y guiar a tu equipo en .Net
</h4>

<p>
    <ul>
        <li>
            ¿Necesitas ayuda para codificar las mejores prácticas, el diseño basado en dominios o el desarrollo basado en pruebas?
        </li>
        <li>
            Ayudaré a su equipo a aumentar la productividad con un poco de tutoría.
        </li>
        <li>
            Tomaré su código base y les mostraré cómo modelar el dominio, identificar y corregir los puntos débiles, refactorizar, diseñar pruebas unitarias y cumplir con los principios de SOLID.
        </li>
    </ul>
</p>
<br />
<h4>Mesa redonda</h4>

<p>
    <ul>
        <li>
            A veces, la gente simplemente quiere resolver dudas o hablar sobre posibles soluciones que les rondan la cabeza.
        </li>
        <li>
            Me puedo reunir contigo y contestar todas tus preguntas asesorándote sobre las opciones que existen y aconsejando si es necesario.
        </li>
    </ul>

</p>
<br />
<blockquote class="color2">
    En resumen, me encanta resolver problemas de programación y aplicar soluciones simples.
    <br />
    Y sobre todo que las cosas funcionen.
</blockquote>

<br />

<div class="row">
    <div class="col-md-12">
        <h4>Certificaciones</h4>
        @Html.Partial("_Certificaciones")
    </div>
</div>



@Html.Partial("_StackTecnologico")


<br />

    <h4>
        Puedes contactar conmigo enviándome un <a href="mailto:albert@acapdevila.net" target="_blank">email</a>
    </h4>
    <h4>
        O utilizar el <a href="@Url.Action("Index", "Contacto")">formulario de contacto</a>
    </h4>




