
@{
    ViewBag.Title = "By Laura Garcia";
}

<div class="col-md-5">
    <img src="~/Content/imagenes/Portada/foto1.jpg" />
</div>



<div class="col-md-4">
    <hr />
    <h1>"If it wasn't for people sharing recipes, mankind would not have survived"</h1>
    <p>Laurie Colwin</p>
    <hr />
    <img src="~/Content/imagenes/Portada/foto3.jpg" />

</div>
<div class="col-md-3">
    <img src="~/Content/imagenes/Portada/foto2.jpg" />
    <hr />

    <img src="~/Content/imagenes/Portada/foto4.jpg" />
</div>

<div class="clearfix"></div>

<div class="subscripcionhome">
    <h2 class="bold">No te pierdas nada de <br />lo que se cuece por aquí</h2>
    <button type="button" class="btn btn-dark"><a href="http://eepurl.com/dtbNnD" target="_blank">Subscríbete a la newsletter</a></button>

</div>
<div class="clearfix"></div>

<h3>Últimas publicaciones</h3>


<div class="col-md-3">
    <img src="~/Content/imagenes/Portada/foto2.jpg" alt="Alternate Text" />

</div>
<div class="col-md-3">
    <img src="~/Content/imagenes/Portada/foto2.jpg" alt="Alternate Text" />

</div>
<div class="col-md-3">
    <img src="~/Content/imagenes/Portada/foto2.jpg" alt="Alternate Text" />

</div>
<div class="col-md-3">
    <img src="~/Content/imagenes/Portada/foto2.jpg" alt="Alternate Text" />

</div>
<div class="clearfix"></div>

