@{
    ViewBag.Title = "Mis libros favoritos de salud y recetas";
}

<h1>Mis libros favoritos</h1>

<div class="row">
    <div class="col-md-12">
        <p>
            Aquí tienes una selección de mis libros favoritos de recetas, salud, cosmética ecológica, huerto urbano, maternidad, lactancia y educación. Una especie de paseo virtual por mi biblioteca. :)
        </p>
        <p>
            Haciendo clic en cada imagen podrás ver el libro en Amazon.
            Algunos no han sido traducidos aun al castellano, en ese caso enlazo la versión en inglés.
        </p>


        <h2>Libros de recetas</h2>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uvgvKA" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/greenkitchen.jpg" alt="Green Kitchen At Home. Quick And Healthy Vegetarian Food" />
            </a>
            <a href="https://amzn.to/2uvgvKA" target="_blank" rel="nofollow">
                <h4>Green Kitchen At Home</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uwXY0y" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/glutenfreeartisanbread.jpg" alt="Gluten-Free Artisan Bread in Five Minutes a Day: The Baking Revolution Continues with 90 New, Delicious and Easy Recipes Made with Gluten-Free Flours" />
            </a>
            <a href="https://amzn.to/2uwXY0y" target="_blank" rel="nofollow">
                <h4>Gluten-Free Artisan Bread in Five Minutes a Day</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uvTbMD" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/nicecream.jpg" alt="N'ice Cream: 80+ Recipes for Healthy, Homemade Vegan Ice Creams" />
            </a>
            <a href="https://amzn.to/2uvTbMD" target="_blank" rel="nofollow">
                <h4>N'ice Cream</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2mpMzLt" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/kalecaramel.jpg" alt="Kale & Caramel: Recipes for Body, Heart, and Table" />
            </a>
            <a href="https://amzn.to/2mpMzLt" target="_blank" rel="nofollow">
                <h4>Kale & Caramel</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2L2gh81" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/mightysalads.jpg" alt="Food52: Mighty Salads: 60 New Ways to Turn Salad Into Dinner" />
            </a>
            <a href="https://amzn.to/2L2gh81" target="_blank" rel="nofollow">
                <h4>Food52: Mighty Salads</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2KlluHV" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/liviaskitchen.jpg" alt="Livia's Kitchen: Naturally Sweet and Indulgent Treats " />
            </a>
            <a href="https://amzn.to/2KlluHV" target="_blank" rel="nofollow">
                <h4>Livia's Kitchen</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2VAxOW6" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/cleancakes.jpg" alt="Clean Cakes" />
            </a>
            <a href="https://amzn.to/2VAxOW6" target="_blank" rel="nofollow">
                <h4>Clean Cakes</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uyPh5E" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/gettheglow.jpg" alt="Get The Glow: Delicious and Easy Recipes That Will Nourish You from the Inside Out" />
            </a>
            <a href="https://amzn.to/2uyPh5E" target="_blank" rel="nofollow">
                <h4>Get The Glow</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2OGP7EC" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/kale.jpg" alt="Kale: 69 recetas antioxidantes y ricas en vitaminas" />
            </a>
            <a href="https://amzn.to/2OGP7EC" target="_blank" rel="nofollow">
                <h4>Kale</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2ux0GmK" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/ayearofbeautifuleating.jpg" alt="A Year of Beautiful Eating: Eat fresh. Eat seasonal. Glow with health, all year round." />
            </a>
            <a href="https://amzn.to/2ux0GmK" target="_blank" rel="nofollow">
                <h4>A Year of Beautiful Eating</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zPlLO3" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/thesavvycook.jpg" alt="The Savvy Cook" />
            </a>
            <a href="https://amzn.to/2zPlLO3" target="_blank" rel="nofollow">
                <h4>The Savvy Cook</h4>
            </a>
        </div>


        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2P0yT7b" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/cocinologia.jpg" alt="Cocinología" />
            </a>
            <a href="https://amzn.to/2P0yT7b" target="_blank" rel="nofollow">
                <h4>Cocinología</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uwbS2H" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/thenondairyevolution.jpg" alt="The Non-Dairy Evolution Cookbook: A Modernist Culinary Approach to Plant-Based, Dairy Free Foods" />
            </a>
            <a href="https://amzn.to/2uwbS2H" target="_blank" rel="nofollow">
                <h4>The Non-Dairy Evolution Cookbook</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2IG2v6K" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/flavorflours.jpg" alt="Flavor Flours" />
            </a>
            <a href="https://amzn.to/2IG2v6K" target="_blank" rel="nofollow">
                <h4>Flavor Flours</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uyf8L9" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/trigosarraceno.jpg" alt="Trigo Sarraceno: la alternativa sin gluten" />
            </a>
            <a href="https://amzn.to/2uyf8L9" target="_blank" rel="nofollow">
                <h4>Trigo sarraceno: la alternativa sin gluten</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2QuKuuB" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/TheOnePotKetogenic.jpg" alt="The One Pot Ketogenic Diet Cookbook" />
            </a>
            <a href="https://amzn.to/2QuKuuB" target="_blank" rel="nofollow">
                <h4>The One Pot Ketogenic Diet Cookbook</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2L4OoMG" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/whole30.jpg" alt="The Whole 30: The official 30-day guide to total health and food freedom" />
            </a>
            <a href="https://amzn.to/2L4OoMG" target="_blank" rel="nofollow">
                <h4>The Whole 30</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2JvVGDu" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/nourish.jpg" alt="Nourish: The Paleo Healing Cookbook" />
            </a>
            <a href="https://amzn.to/2JvVGDu" target="_blank" rel="nofollow">
                <h4>Nourish</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LiWyAk" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/fermentedvegetables.jpg" alt="Fermented Vegetables" />
            </a>
            <a href="https://amzn.to/2LiWyAk" target="_blank" rel="nofollow">
                <h4>Fermented Vegetables</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/cleansweets.jpg" alt="Clean Sweets: Simple, High-Protein Desserts for One" />
            </a>
            <a href="" target="_blank" rel="nofollow">
                <h4>Clean Sweets</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zPd3iZ" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/slowcooker.jpg" alt="Slow cooker. Recetas para olla de cocción lenta" />
            </a>
            <a href="https://amzn.to/2zPd3iZ" target="_blank" rel="nofollow">
                <h4>Slow cooker</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LgZvRL" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/plenty.jpg" alt="Plenty: Vibrant Vegetable Recipes from London's Ottolenghi" />
            </a>
            <a href="https://amzn.to/2LgZvRL" target="_blank" rel="nofollow">
                <h4>Plenty</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2OD0vkR" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/onepandone.jpg" alt="One Pan & Done" />
            </a>
            <a href="https://amzn.to/2OD0vkR" target="_blank" rel="nofollow">
                <h4>One Pan & Done</h4>
            </a>
        </div>


    </div>

    <div class="col-md-12">

        <h2>Libros de salud</h2>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LpF7Om" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/geniusfoods.jpg" alt="Genius Foods: Become Smarter, Happier, and More Productive, While Protecting Your Brain Health for Life" />
            </a>
            <a href="https://amzn.to/2LpF7Om" target="_blank" rel="nofollow">
                <h4>Genius Foods</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zir8mb" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/superfuel.jpg" alt="Superfuel: Ketogenic Keys to Unlock the Secrets of Good Fats, Bad Fats, and Great Health" />
            </a>
            <a href="https://amzn.to/2zir8mb" target="_blank" rel="nofollow">
                <h4>Superfuel</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2Ud3Mq4" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/ketoquickstart.jpg" alt="Keto Quick Start" />
            </a>
            <a href="https://amzn.to/2Ud3Mq4" target="_blank" rel="nofollow">
                <h4>Keto Quick Start</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zQgS7r" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/ladigestioneslacuestion.jpg" alt="La digestión es la cuestión" />
            </a>
            <a href="https://amzn.to/2zQgS7r" target="_blank" rel="nofollow">
                <h4>La digestión es la cuestión</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2mt76ik" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/alimentatucerebro.jpg" alt="Alimenta Tu Cerebro: El Sorprendente Poder de La Flora Intestinal Para Sanar y Proteger Tu Cerebro de Por Vida" />
            </a>
            <a href="https://amzn.to/2mt76ik" target="_blank" rel="nofollow">
                <h4>Alimenta Tu Cerebro</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uwiVZh" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/alimentacionprebiotica.jpg" alt="Alimentación prebiótica" />
            </a>
            <a href="https://amzn.to/2uwiVZh" target="_blank" rel="nofollow">
                <h4>Alimentación prebiótica</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zZm0GL" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/alignmentmatters.jpg" alt="Alignment Matters: The First Five Years of Katy Says" />
            </a>
            <a href="https://amzn.to/2zZm0GL" target="_blank" rel="nofollow">
                <h4>Alignment Matters</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zP1pVj" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/diastasisrecti.jpg" alt="Diastasis Recti " />
            </a>
            <a href="https://amzn.to/2zP1pVj" target="_blank" rel="nofollow">
                <h4>Diastasis Recti </h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zQXZ4v" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/perfecthealthdiet.jpg" alt="Perfect Health Diet: Regain Health and Lose Weight by Eating the Way You Were Meant to Eat" />
            </a>
            <a href="https://amzn.to/2zQXZ4v" target="_blank" rel="nofollow">
                <h4>Perfect Health Diet</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zPIHNo" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/thedentaldiet.jpg" alt="The Dental Diet: The Surprising Link between Your Teeth, Real Food, and Life-Changing Natural Health" />
            </a>
            <a href="https://amzn.to/2zPIHNo" target="_blank" rel="nofollow">
                <h4>The Dental Diet</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2msRgnS" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/ketodiet.jpg" alt="The Keto Diet: The Complete Guide to a High-Fat Diet" />
            </a>
            <a href="https://amzn.to/2msRgnS" target="_blank" rel="nofollow">
                <h4>The Keto Diet</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2msEiqe" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/healingmushrooms.jpg" alt="Healing Mushrooms: A Practical and Culinary Guide to Using Mushrooms for Whole Body Health" />
            </a>
            <a href="https://amzn.to/2msEiqe" target="_blank" rel="nofollow">
                <h4>Healing Mushrooms</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LiYDw5" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/dontjustsitthere.jpg" alt="Don't Just Sit There: Transitioning to a Standing and Dynamic Workstation for Whole-Body Health" />
            </a>
            <a href="https://amzn.to/2LiYDw5" target="_blank" rel="nofollow">
                <h4>Don't Just Sit There</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2KqsP9e" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/iodine.jpg" alt="Iodine" />
            </a>
            <a href="https://amzn.to/2KqsP9e" target="_blank" rel="nofollow">
                <h4>Iodine</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2L4SJzb" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/transformatusalud.jpg" alt="Transforma tu salud: La clave está en las bacterias intestinales y las hormonas" />
            </a>
            <a href="https://amzn.to/2L4SJzb" target="_blank" rel="nofollow">
                <h4>Transforma tu salud</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2KoCDAw" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/thehormonefix.jpg" alt="The Hormone Fix" />
            </a>
            <a href="https://amzn.to/2KoCDAw" target="_blank" rel="nofollow">
                <h4>The Hormone Fix</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zPwmsj" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/eatdirt.jpg" alt="Eat Dirt: Why Leaky Gut May Be the Root Cause of Your Health Problems and 5 Surprising Steps to Cure It " />
            </a>
            <a href="https://amzn.to/2zPwmsj" target="_blank" rel="nofollow">
                <h4>Eat Dirt</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LvN5lU" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/younger.jpg" alt="Younger: The Breakthrough Programme to Reset our Genes and Reverse Ageing" />
            </a>
            <a href="https://amzn.to/2LvN5lU" target="_blank" rel="nofollow">
                <h4>Younger</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2L636Db" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/moveyourdna.jpg" alt="MOVE YOUR DNA" />
            </a>
            <a href="https://amzn.to/2L636Db" target="_blank" rel="nofollow">
                <h4>Move your DNA</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LqboFn" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/thepaleoaproach.jpg" alt="The Paleo Approach: Reverse Autoimmune Disease and Heal Your Body" />
            </a>
            <a href="https://amzn.to/2LqboFn" target="_blank" rel="nofollow">
                <h4>The Paleo Approach</h4>
            </a>
        </div>

    </div>
    <div class="col-md-12">

        <h2>Libros sobre cuidado de la piel y cosmética ecológica</h2>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LjGsGI" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/renegadebeauty.jpg" alt="Renegade Beauty: Reveal and Revive Your Natural Radiance" />
            </a>
            <a href="https://amzn.to/2LjGsGI" target="_blank" rel="nofollow">
                <h4>Renegade Beauty</h4>
            </a>
        </div>


    </div>
    <div class="col-md-12">

        <h2>Libros sobre huerto urbano y plantas de interior</h2>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2VD6E0M" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/minihuertos.jpg" alt="Minihuertos" />
            </a>
            <a href="https://amzn.to/2VD6E0M" target="_blank" rel="nofollow">
                <h4>Minihuertos</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2U82tbF" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/growyourown.jpg" alt="Grow Your Own" />
            </a>
            <a href="https://amzn.to/2U82tbF" target="_blank" rel="nofollow">
                <h4>Grow Your Own</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2QqQFje" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/microgreens.jpg" alt="Microgreens" />
            </a>
            <a href="https://amzn.to/2QqQFje" target="_blank" rel="nofollow">
                <h4>Microgreens</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2Lw8ICV" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/growallyoucaneat.jpg" alt="Grow All You Can Eat In Three Square Feet " />
            </a>
            <a href="https://amzn.to/2Lw8ICV" target="_blank" rel="nofollow">
                <h4>Grow All You Can Eat In Three Square Feet </h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2OXPzw7" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/growyourowninpots.jpg" alt="Grow Your Own Vegetables in Pots and Containers" />
            </a>
            <a href="https://amzn.to/2OXPzw7" target="_blank" rel="nofollow">
                <h4>Grow Your Own Vegetables in Pots and Containers</h4>
            </a>
        </div>


        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LqiGp8" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/urbanjungle.jpg" alt="Urban Jungle Living and Styling with Plants" />
            </a>
            <a href="https://amzn.to/2LqiGp8" target="_blank" rel="nofollow">
                <h4>Urban Jungle Living and Styling with Plants</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2KrHAbY" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/comonomatartusplantas.jpg" alt="Cómo No Matar Tus Plantas" />
            </a>
            <a href="https://amzn.to/2KrHAbY" target="_blank" rel="nofollow">
                <h4>Cómo No Matar Tus Plantas</h4>
            </a>
        </div>


    </div>
    <div class="col-md-12">

        <h2>Libros sobre embarazo, lactancia, BLW y educación</h2>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2L9aIVy" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/niñossanosadultossanos.jpg" alt="Niños sanos, adultos sanos" />
            </a>
            <a href="https://amzn.to/2L9aIVy" target="_blank" rel="nofollow">
                <h4>Niños sanos, adultos sanos</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2LletWT" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/dormirsinlagrimas.jpg" alt="Dormir sin lágrimas: dejarle llorar no es la solución" />
            </a>
            <a href="https://amzn.to/2LletWT" target="_blank" rel="nofollow">
                <h4>Dormir sin lágrimas</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2mrXEM9" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/somoslaleche.jpg" alt="Somos la leche: Dudas, consejos y falsos mitos sobre la lactancia" />
            </a>
            <a href="https://amzn.to/2mrXEM9" target="_blank" rel="nofollow">
                <h4>Somos la leche</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uuc4Qm" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/unregaloparatodalavida.jpg" alt="Un regalo para toda la vida: Guía de la lactancia materna" />
            </a>
            <a href="https://amzn.to/2uuc4Qm" target="_blank" rel="nofollow">
                <h4>Un regalo para toda la vida</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2Jzly15" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/elbebeesunmamifero.jpg" alt="El Bebé Es Un Mamífero" />
            </a>
            <a href="https://amzn.to/2Jzly15" target="_blank" rel="nofollow">
                <h4>El Bebé Es Un Mamífero</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2Lhy7TJ" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/primalmoms.jpg" alt="Primal Moms Look Good Naked: A Mother's Guide to Achieving Beauty Through Excellent Health" />
            </a>
            <a href="https://amzn.to/2Lhy7TJ" target="_blank" rel="nofollow">
                <h4>Primal Moms Look Good Naked</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2murnnA" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/lamaternidadyelencuentro.jpg" alt="La maternidad y el encuentro con la propia sombra" />
            </a>
            <a href="https://amzn.to/2murnnA" target="_blank" rel="nofollow">
                <h4>La maternidad y el encuentro con la propia sombra</h4>
            </a>
        </div>


        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2uM6ckw" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/nacimientoylaevolucion.jpg" alt="Nacimiento Y La Evolución Del Homo Sapiens" />
            </a>
            <a href="https://amzn.to/2uM6ckw" target="_blank" rel="nofollow">
                <h4>Nacimiento Y La Evolución Del Homo Sapiens</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2zOlTxk" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/laescuelamasfeliz.jpg" alt="La escuela más feliz" />
            </a>
            <a href="https://amzn.to/2zOlTxk" target="_blank" rel="nofollow">
                <h4>La escuela más feliz</h4>
            </a>
        </div>

        <div class="col-md-3 col-sm-6 bookgrid">
            <a href="https://amzn.to/2mtafP6" target="_blank" rel="nofollow">
                <img src="~/Content/imagenes/libros/lacrianzafeliz.jpg" alt="La crianza feliz: cómo cuidar y entender a tu hijo de 0 a 6 años" />
            </a>
            <a href="https://amzn.to/2mtafP6" target="_blank" rel="nofollow">
                <h4>La crianza feliz</h4>
            </a>
        </div>



    </div>
</div>



@*Plantilla

    <div class="col-md-3 col-sm-6 bookgrid">
        <a href="" target="_blank" rel="nofollow">
            <img src="~/Content/imagenes/libros/xxx.jpg" alt="" />
        </a>
        <a href="" target="_blank" rel="nofollow">
            <h4></h4>
        </a>
    </div>

*@