@model Blog.Web.ViewModels.Contacto.FormularioContactoViewModel
@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<h3>¡Gracias! Parece que el mensaje se ha enviado correctamente</h3>

<p>
    Contestaré lo antes posible.
</p>

<p>
    <a href="\">Ir a inicio</a>
</p>
