
@{
    ViewBag.Title = "Vídeos";
}

<h1>Vídeos</h1>

<div class="row">

    <div class="col-md-12">
        <h2>Pan de trigo sarraceno</h2>
        <center>
            <iframe width="853" height="480" src="https://www.youtube.com/embed/dBuLKEBxuIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
    </div>

    <div class="col-md-12">
        <h2>Ghee casero</h2>
        <center>
            <iframe width="853" height="480" src="https://www.youtube.com/embed/rNJU1HpWnQE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
    </div>

</div>




