
@{
    ViewBag.Title = "Vídeos";
}

<h1>Vídeos</h1>

<div class="row">

    <div class="col-md-12">
        <h2>Crackers de trigo sarraceno y semillas</h2>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r1IgNTx4Ns8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-md-12">
        <h2>Brownie sin gluten de trigo sarraceno</h2>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/b8lGBTJgC-g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-md-12">
        <h2>Yogur casero de leche de coco</h2>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/O86MwLtA0I8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Pan de trigo sarraceno</h2>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dBuLKEBxuIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-md-12">
        <h2>Ghee casero</h2>
        <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/rNJU1HpWnQE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

</div>




