@model Blog.Web.ViewModels.Sidebar.NubeEtiquetasViewModel

@{
    Layout = null;
}

<div class="well">
    <h4>Etiquetas</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
             @foreach (var etiqueta in Model.EtiquetasPares)
                    {
                        @Html.DisplayFor(m => etiqueta, "LinkEtiqueta")
                    }
            </ul>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <ul class="list-unstyled">
             
                @foreach (var etiqueta in Model.EtiquetasImpares)
                    {
                        @Html.DisplayFor(m => etiqueta, "LinkEtiqueta")
                    }
            </ul>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>