@using System.Web.Mvc.Html
@using Blog.Web.Helpers
@model Blog.Web.ViewModels.Etiqueta.EtiquetaViewModel

@{
    ViewData["Title"] = Model.NombreEtiqueta;
}
<br />
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <h1 class="page-header">
            Etiqueta: @Model.NombreEtiqueta
            @*<small>Secondary Text</small>*@
        </h1>

        <!-- First Blog Post -->
        @Html.Partial("_ListaLineasResumenPost", Model.ListaPosts)
    </div>
    @Html.Partial("_SidebarPrincipal")

</div>
