@using Blog.Web.Helpers
@model Blog.ViewModels.Blog.ListaPostsBlogResumidosViewModel


<br/>
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->
        @Html.Partial("_ListaLineasResumenPost", Model.ListaPosts.ToList())


        <!-- Pager-->
        <div class="clearfix"></div>
        <ul class="pager">
            @if (Model.ListaPosts.HasNextPage)
            {
                <li class="previous">
                    <a href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber + 1})">&larr; Entradas más antiguas</a>
                </li>
            }
            @if (Model.ListaPosts.HasPreviousPage)
            {
                <li class="next">
                    <a href="@Url.Action("Index", new {pagina = Model.ListaPosts.PageNumber - 1})">Entradas más recientes &rarr;</a>
                </li>
            }
        </ul>

    </div>

   
            @Html.Partial("_SidebarPrincipal")


</div>
