@using Blog.Web.Helpers
@model Blog.Web.ViewModels.Blog.ListaPostsBlogViewModel

<br/>
<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <!-- First Blog Post -->
        @Html.Partial("_ListaLineasResumenPost", Model.ListaPosts)
    </div>
    @Html.Partial("_SidebarPrincipal")
   
</div>
