body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}
 */

h2 a {
  color: #7c7c7c;
  text-decoration: none;
}
h2 a:hover,
h2 a:focus {
  color: #000000;
  text-decoration: none;
}
h2 a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/******* MY STUFF ********/

a {
    color: #91e1bc;}
    a:hover {
        color: #bef3db;
        text-decoration: none}

.logo {padding:5px 25px;
}
.typo {font-family: 'hp_simplifiedregular'; text-transform: uppercase;
}
.smaller {
    font-size:90%}

h1,h2,h3,
h4,h5,h6,
.h1,.h2,.h3,
.h4,.h5,.h6 {font-family: 'hp_simplifiedregular'; text-transform: uppercase;}

.vertical-lines {
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

.social_header {
    float: right; 
    padding: 8px;
}
.social_header a {
    text-decoration: none;
}

.linketiqueta {
    background: #222; 
    color: #fff;
    padding: 5px 8px;
    font-size:90%;
    margin-bottom: 4px;
}
.linketiqueta a {color: #fff;
}

/*Footer*/

footer {
    background: #64c699;
    padding: 20px 0;
}

/*Colors*/

.grey {color: #939393;}
.color1 {color: #64c699;}
.color2 {color: #91e1bc;}
.color3 {color: #bef3db;}
.color4 {color: #e9fdf4;}

/*Fonts*/

@font-face {
    font-family: 'hp_simplifiedregular';
    src: url('/fonts/hp_simplified_regular-webfont.eot');
    src: url('/fonts/hp_simplified_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hp_simplified_regular-webfont.woff2') format('woff2'),
         url('/fonts/hp_simplified_regular-webfont.woff') format('woff'),
         url('/fonts/hp_simplified_regular-webfont.ttf') format('truetype'),
         url('/fonts/hp_simplified_regular-webfont.svg#hp_simplifiedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}