body {
    padding: 20px 0;
    font-family: 'open_sansregular';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default
input,
select,
textarea {
    max-width: 280px;
}
 */


/******* MY STUFF ********/

a {
    color: #000000;}

    a:hover, a:active {
        color: #808080;
        text-decoration: none}

.logo {
       margin-bottom:5px;       
}
  
.typo {font-family: 'open_sansbold'; text-transform: uppercase;}
.styledtypo {font-family: 'chasing_embers_demo_versionRg';}

.smaller {
    font-size:90%}
.smallest {
    font-size:75%}
.adjust {
    margin:0; padding:0;}

h1,h2,h3,
h4,h5,h6,
.h1,.h2,.h3,
.h4,.h5,.h6 {font-family: 'open_sansbold'; text-transform: uppercase; letter-spacing: -1px;}


/*Menú superior*/

nav {
text-transform: uppercase;
letter-spacing: 1px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: transparent;
}
/*Buscador menú principal*/
.buscador-menu {
    display: inline-block;
    margin: 10px 0;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
    width: 30%;
    
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*Posts*/

.postcontent {}

    .postcontent p {
    line-height:25px;}

    
    .postcontent li {
    line-height:25px;}

    .postcontent a {
    border-bottom: 2px solid #91e1bc}

.postsmall {
    min-height: 580px;
}

/*Sidebar etiquetas*/

.linketiqueta {
    background: #222; 
    color: #fff;
    padding: 5px 8px;
    font-size:90%;
    margin-bottom: 4px;
}

.linketiqueta a:hover {
    color: #91e1bc;    
}


.linketiqueta a {color: #fff;
}

/*Sidebar archivo*/

.archivo {
    border: 2px solid #64c699;
    padding:10px;
}

.linkarchivo {
    background: #fff; 
    color: #222;
    padding: 5px 8px;
    font-size:90%;
    margin-bottom: 4px;
}

.linkarchivo a:hover {
    color: #91e1bc;    
}


.linkarchivo a {color: #222;
}

/*Autocomplete tags*/

.ui-autocomplete {
	list-style: none;
    background: #ffffff;
	line-height: 32px;
	cursor: pointer;
    width: auto;
    font-weight: bold;
    width: 30%;
}
    .ui-autocomplete li {
    border-bottom: 1px dashed #bef3db;
    width: 100%;
    }

    .ui-autocomplete li:hover {
    color: #64c699;
    }
    

/*Footer*/

footer {
    background: #64c699;
    padding: 20px 0;
     text-transform: uppercase;
}
    footer ul {
        margin: 10px 0 0 0;
    }

    footer li {
    list-style:none}

    footer li a:hover {
    color: #ffffff;}

/*Colors*/

.grey {color: #939393;}
.color1 {color: #64c699;}
.color2 {color: #91e1bc;}
.color3 {color: #bef3db;}
.color4 {color: #e9fdf4;}

/*Fonts*/ 

@font-face {
    font-family: 'open_sansregular';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),*/
         url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('/fonts/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        /* url('/fonts/OpenSans-Bold-webfont.woff2') format('woff2'),*/
         url('/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hp_simplifiedregular';
    src: url('/fonts/hp_simplified_regular-webfont.eot');
    src: url('/fonts/hp_simplified_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/hp_simplified_regular-webfont.woff2') format('woff2'),
         url('/fonts/hp_simplified_regular-webfont.woff') format('woff'),
         url('/fonts/hp_simplified_regular-webfont.ttf') format('truetype'),
         url('/fonts/hp_simplified_regular-webfont.svg#hp_simplifiedregular') format('svg');
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: 'chasing_embers_demo_versionRg';
    src: url('/fonts/chasing_embers_demo_version-webfont.eot');
    src: url('/fonts/chasing_embers_demo_version-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/chasing_embers_demo_version-webfont.woff2') format('woff2'),
         url('/fonts/chasing_embers_demo_version-webfont.woff') format('woff'),
         url('/fonts/chasing_embers_demo_version-webfont.ttf') format('truetype'),
         url('/fonts/chasing_embers_demo_version-webfont.svg#chasing_embers_demo_versionRg') format('svg');
    font-weight: normal;
    font-style: normal;}



/*Efecte hover navegació*/

.centerer{
  position:relative;
  display:block;
  float:right;
  text-align:right;
  padding:10px;
  cursor:pointer;
}

.c{float:right;}

.normal-underline-text,
.custom-underline-text{
  position:relative;
  display:inline-block;
  text-align:center;
}

@media (max-width:767px){
  .normal-underline-text,
  .custom-underline-text{
    font-size:18px;}


    .postsmall {
        min-height: unset;}
.normal-underline-text,
.normal-underline-text:hover{
  color: #444;
  text-decoration:underline;
}

.custom-underline-text,
.custom-underline-text:hover,
.custom-underline-text:focus,
.custom-underline-text:active{
  color: #000000;
  text-decoration:none;
}

.custom-underline-text::after{
    content:"";
    position:absolute;
    background-color:rgba(132,240,209,0.3);
    transition:.2s ease-in all;
}


.c .custom-underline-text::after{
    top:100%;
    height:3px !important;
    width:50%;
    left:25%;
}

.c:hover .custom-underline-text::after {
    width:90%;
    left:5%;
    background-color:rgba(132,240,209,.6);
    -ms-transition:.8s ease all;
    -o-transition:.8s ease all;
    -webkit-transition:.8s ease all;
    transition:.8s ease all;
}
    }

    

    