<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">

        <ul class="nav navbar-nav navbar-right">
            <li>
                <input id="btnGuardarYSalir" type="submit" value="Guardar y salir" class="btn btn-default navbar-btn" />&nbsp;&nbsp;
            </li>
            <li>
                <input id="btnGuardar" type="button" value="Guardar" class="btn btn-primary navbar-btn" />
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">

            $(document).ready(function() {
                jQuery.validator.setDefaults({ ignore: [] });

                $("#btnGuardar").click(function (event) {
                    event.preventDefault();

                    for (instance in CKEDITOR.instances) {
                        CKEDITOR.instances[instance].updateElement();
                    }

                    Guardar();
                });

            });

            function Guardar() {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Guardar", "Posts")",
                    data: $("form").serialize(),
                    dataType: "html"
                }).done(function() {
                    alert("Guardado correctamente");

                }).fail(function() {
                        alert("Se ha producido un error inesperado.");
                        return false;
                    }
                );
            }

</script>
