@using LG.Web.Helpers
@model  LG.Web.ViewModels.Menu.MenuCategoriasViewModel

@{
    Layout = null;
}
    
    <ul class="dropdown-menu">
        @foreach (var categoria in Model.Categorias)
        {
            <li>
                <a href="@Url.RutaCategoria(categoria.UrlSlug)">@categoria.Nombre</a>
            </li>
        }

    </ul>


