@using Blog.Web.ViewModels.Escribeme
@model FormularioContactoViewModel
@{
    ViewBag.Title = "Escríbeme";
}
<h2>@ViewBag.Title</h2>

<h3>!Vaya¡ no he recibido el mensaje</h3>

<p>
    Esto se debe a que eres un robot, o a que no has escrito correctamente el día de la semana en la pregunta:<br/>
    "Huevo, perro, abeja o viernes, ¿cuál es el día de la semana?"
</p>

<p>
     <a href="javascript:history.back()">Volver atrás</a>
</p>
