@model Blog.ViewModels.Sidebar.NubeEtiquetasViewModel

@{
    Layout = null;
}

<div class="well">
    <h4 class="color1">Etiquetas</h4>
        <div class="row">

            <ul class="list-unstyled list-inline" style="padding:0 10px">
                @foreach (var etiqueta in Model.EtiquetasTodas)
                {
                    @Html.DisplayFor(m => etiqueta, "LinkEtiqueta")
                }
            </ul>


        </div>
        <!-- /.row -->
</div>