  @using (Html.BeginForm("Buscar", "Blog", FormMethod.Get))
  {
      <div class="input-group">
          @Html.Editor("buscarPor", "AutocompleteMultipleBuscador", new
          {
              ajaxCallbackUrlAction = "QuickMultipleSearch",
              ajaxCallbackUrlController = "Tags"
          })
          @*    <input type="text" class="form-control" name="buscarPor" placeholder="Buscar">*@
          
          
              <span class="input-group-btn">
                  <button class="btn btn-dark" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </span>

      </div>
  }
