@{
    ViewBag.Title = "Hola, mi nombre es Albert";
}
<h2>¡Hola!</h2>
<h3>Mi nombre es Albert Capdevila.</h3>

<p></p>
<p>
    Soy un futbolista frustrado que estudió Ingeniería Superior de Telecomunicaciones en la UPC de Barcelona y se dedica a programar aplicaciones web.
</p>
<p>
    Llevo desde el año 2004 aprendiendo a programar, peleando con código y buscando soluciones en Stackoverflow. Estoy especializado y certificado en tecnologías Microsoft, concretamente en .Net.
</p>
<p>
    En 2010 fundé la empresa Buclenet IT Systems con Laura, mi mujer, una pianista frustrada, que estudió economía y se dedica a mil cosas: maquetación html, comunicación, redes sociales, etc.
</p>
<p>
    Juntos hemos diseñado, desarrollado, implementado y gestionado proyectos propios y ajenos. Algunos de ellos los puedes ver en <a href="http://buclenet.com" target="_blank">buclenet.com</a>.
</p>
<p>
    ¡Gracias por pasarte por aquí! :)
</p>


