
@{
    ViewBag.Title = "Portfolio";
}


<h2 class="typo">Estos son algunos de los proyectos que he desarrollado</h2>


<div class="row">
    
    <div class="col-md-6">

        <h4 class="typo">
            Web de compra colectiva enfocada a la comarca del Maresme. <a href="https://www.quedat.cat" target="_blank">www.quedat.cat</a>
        </h4>

        <a href="https://www.quedat.cat" target="_blank">
            <img src="/Images/quedat.jpg" alt="Queda't al Maresme" />
        </a>
        <br />
        <br />
        <!-- Button trigger modal -->
        <a class="btn btn-default" data-toggle="modal" data-target="#dialogQuedat" href="#">
            Detalles técnicos
        </a>

        <!-- Modal -->
        <div class="modal fade" id="dialogQuedat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#modulosQuedat" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                            <li role="presentation"><a href="#tecnoQuedat" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                            <li role="presentation"><a href="#InfraQuedat" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="modulosQuedat">
                                <ul>
                                    <li>
                                        <strong>Contenidos dinámicos:</strong> Ofertas, Vales, Categorias, Sidebars, Imágenes, Poblaciones, Multi-precio y SEO
                                    </li>
                                    <li>
                                        <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                    </li>
                                    <li>
                                        <strong>Negocios:</strong> Gestión de negocios, back-office negocios, control de vales, impressión de informes
                                    </li>
                                    <li>
                                        <strong>Ventas:</strong> Control integrado de las ventas, pasarela bancaria
                                    </li>
                                    <li>
                                        <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                                    </li>
                                    <li>
                                        <strong>Fidelidad:</strong> Sistema de puntos y sistema de descuentos promocionales
                                    </li>
                                    <li>
                                        <strong>Administración:</strong> Sistema de facturación integrado, sistema de liquidaciones y gestión de comerciales
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tecnoQuedat">
                                <ul>
                                    <li>
                                        <strong>Framework:</strong> Asp.Net 2.0, 3.5 y 4.5, MVC2, MVC3 y MVC4
                                    </li>
                                    <li>
                                        <strong>Base de datos:</strong> Sql Server
                                    </li>
                                    <li>
                                        <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                                    </li>
                                    <li>
                                        <strong>Hosting:</strong> Windows Server 2012, IIS 8
                                    </li>
                                    <li>
                                        <strong>IDE:</strong> Visual Studio 2010 y 2012
                                    </li>
                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="InfraQuedat">
                                <ul>
                                    <li>
                                        <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), Cliente (MVC)
                                    </li>
                                    <li>
                                        <strong>ORM:</strong> Entity Framework Database First
                                    </li>
                                    <li>
                                        <strong>Log de errores:</strong> ELMAH
                                    </li>
                                    <li>
                                        <strong>Log de eventos:</strong> NLog
                                    </li>
                                    <li>
                                        <strong>Informes:</strong> Reporting Services
                                    </li>
                                    <li>
                                        <strong>IoC:</strong> Ninject
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    
    <div class="col-md-6">

        <h4 class="typo">
            Web del Mundial de Balonmano celebrado en España durante enero de 2013. <a href="http://hb2013frontend.buclenet.com" target="_blank">Ver la web</a>
        </h4>

        <a href="http://hb2013frontend.buclenet.com" target="_blank">
            <img src="/Images/hb2013.jpg" alt="Handball Spain 2013" />
        </a>
        <br />
        <br />
        <!-- Button trigger modal -->
        <a class="btn btn-default" data-toggle="modal" data-target="#dialogHb" href="#">
            Detalles técnicos
        </a>

        <!-- Modal -->
        <div class="modal fade" id="dialogHb" tabindex="-1" role="dialog" aria-labelledby="myModalHb">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#modulosHb" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                            <li role="presentation"><a href="#tecnoHb" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                            <li role="presentation"><a href="#InfraHb" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="modulosHb">
                                <ul>

                                    <li>
                                        <strong>Contenidos dinámicos:</strong> Noticias, Notas de prensa, Equipos y Jugadores, Fotogalería, Slides frontales, Sidebars y SEO
                                    </li>
                                    <li>
                                        <strong>Competición:</strong> Resultados en directo, Calendario, Clasificaciones, Fase final, Estadísticas y Ficha del partido
                                    </li>
                                    <li><strong>Idiomas:</strong> Catalán, Castellano y Inglés</li>
                                    <li>
                                        <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter y de las notas de prensa
                                    </li>
                                    <li>
                                        <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                    </li>
                                    <li><strong>Otros:</strong> Sedes, Voluntarios, Hoteles, Paquetes de viajes</li>

                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tecnoHb">
                                <ul>
                                    <li>
                                        <strong>Framework:</strong> Asp.Net 4.0, MVC3
                                    </li>
                                    <li>
                                        <strong>Base de datos:</strong> Sql Server
                                    </li>
                                    <li>
                                        <strong>Código:</strong> HTML5, CSS, Javascript (Knockout - para resultados en directo -, jQuery, jQuery UI, AJAX), C#, T-SQL
                                    </li>
                                    <li>
                                        <strong>Hosting:</strong> Windows Server 2008 R2, IIS 7.5
                                    </li>
                                    <li>
                                        <strong>IDE:</strong> Visual Studio 2010
                                    </li>
                                </ul>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="InfraHb">
                                <ul>
                                    <li>
                                        <strong>5 Servidores:</strong> 1 Back-end (Base datos, imágenes y scripts) y 4 Front-end (con balanceo de carga)
                                    </li>
                                    <li>
                                        <strong>Arquitectura de capas:</strong>Base datos (Database project), Datos (EF), Lógica de negocio (Servicios), ViewModels (DTO's), Cliente (MVC)
                                    </li>
                                    <li>
                                        <strong>ORM:</strong> Entity Framework Database First
                                    </li>
                                    <li>
                                        <strong>Log de errores:</strong> ELMAH
                                    </li>
                                    <li>
                                        <strong>Log de eventos:</strong> NLog
                                    </li>
                                    <li>
                                        <strong>Informes:</strong> Reporting Services
                                    </li>
                                    <li>
                                        <strong>IoC:</strong> Ninject
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>

</div>

<div class="row">



<div class="col-md-6">

    <h4 class="typo">
        Portal de compra-venta de coches de ocasión, seminuevos y Km0. <a href="https://www.lookauto.es" target="_blank">www.lookauto.es</a>
    </h4>

    <a href="https://www.lookauto.es" target="_blank">
        <img src="/Images/lookauto.JPG" alt="Look Auto" />
    </a>
    <br />
    <br />
    <!-- Button trigger modal -->
    <a class="btn btn-default" data-toggle="modal" data-target="#dialogLook" href="#">
        Detalles técnicos
    </a>

    <!-- Modal -->
    <div class="modal fade" id="dialogLook" tabindex="-1" role="dialog" aria-labelledby="myModalLook">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">


                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#modulosLook" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                        <li role="presentation"><a href="#tecnoLook" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                        <li role="presentation"><a href="#InfraLook" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="modulosLook">
                            <ul>
                                <li>
                                    <strong>Vehiculos:</strong> Marcas, Modelos, Versiones, Motores, Combustibles, Carrocerías, Puertas, Marchas, Cilindrada, Cavallos, Cilindros, Plazas y Emisiones Co2
                                </li>
                                <li>
                                    <strong>Anuncios:</strong> Buscar per cualquier concepto, Vender (Single Page Application), Imprimir, Denunciar, Avisar si baja el precio, Favoritos
                                </li>
                                <li>
                                    <strong>Vendedores:</strong> Formulario de contacto, Mi zona, Favoritos, Valoraciones, Microsite, Marcas representadas
                                </li>
                                <li>
                                    <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                                </li>
                                <li>
                                    <strong>Otros:</strong> Zonas geográficas, Colores, Equipamientos, Tapicerías, Procedencias
                                </li>
                                <li>
                                    <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                </li>

                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tecnoLook">
                            <ul>
                                <li>
                                    <strong>Framework:</strong> Asp.Net 4.5.1, MVC5
                                </li>
                                <li>
                                    <strong>Base de datos:</strong> Sql Server
                                </li>
                                <li>
                                    <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                                </li>
                                <li>
                                    <strong>Hosting:</strong> Azure Websites, Sql Azure, Image Storage Account
                                </li>
                                <li>
                                    <strong>IDE:</strong> Visual Studio 2012
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="InfraLook">
                            <ul>
                                <li>
                                    <strong>Arquitectura de capas:</strong> Datos (EF), Negocio (Serveis), Modelos (DTO's), Cliente (MVC)
                                </li>
                                <li>
                                    <strong>ORM:</strong> Entity Framework Database First
                                </li>
                                <li>
                                    <strong>Log de errores:</strong> ELMAH
                                </li>
                                <li>
                                    <strong>Log de eventos:</strong> NLog
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>


<div class="col-md-6">

    <h4 class="typo">
        ONG global de cooperación para el desarrollo que actúa a favor de la infancia y la defensa de sus derechos
        <a href="https://www.educo.org" target="_blank">www.educo.org</a>
    </h4>

    <a href="https://www.educo.org" target="_blank">
        <img src="/Images/educo.JPG" alt="Fundación Educo" />
    </a>
    <br />
    <br />
    <!-- Button trigger modal -->
    <a class="btn btn-default" data-toggle="modal" data-target="#dialogEdu" href="#">
        Detalles técnicos
    </a>

    <!-- Modal -->
    <div class="modal fade" id="dialogEdu" tabindex="-1" role="dialog" aria-labelledby="myModalEdu">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <ul>
                        <li>
                            <strong>CMS:</strong> Kentico
                        </li>
                        <li>
                            <strong>Framework:</strong> Asp.Net 4.0, WebForms
                        </li>
                        <li>
                            <strong>Código:</strong> HTML5, CSS, C#
                        </li>
                        <li>
                            <strong>Hosting:</strong> Windows Server 2012, IIS 8
                        </li>
                        <li>
                            <strong>IDE:</strong> Visual Studio 2012
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>

</div>
   

<div class="row">

    <div class="col-md-6">

        <h4 class="typo">
            Eventos de natación en aguas abiertas. <a href="https://www.nedaelmon.com" target="_blank">nedaelmon.com</a>
        </h4>

        <a href="https://www.nedaelmon.com" target="_blank">
            <img src="/Images/nedaelmon.jpg" alt="Neda el Món" />
        </a>
        <br />
        <br />
        <!-- Button trigger modal -->
        <a class="btn btn-default" data-toggle="modal" data-target="#dialogNem" href="#">
            Detalles técnicos
        </a>

        <!-- Modal -->
        <div class="modal fade" id="dialogNem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#modulosNem" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                            <li role="presentation"><a href="#tecnoNem" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                            <li role="presentation"><a href="#InfraNem" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="modulosNem">
                                <ul>
                                    <li>
                                        <strong>Contenidos dinámicos:</strong> Eventos, Calendario, Productos, Noticias, Colaboradores, Sponsors, Slides frontales, Sidebars y SEO
                                    </li>
                                    <li>
                                        <strong>Inscripciones:</strong> Recorridos, Datos personales, Alquiler chip, Seguro, Juniors, Inscripciones manuales, Back-office inscripciones, Informes Excel
                                    </li>
                                    <li>
                                        <strong>E-comerce tienda:</strong> Tallas, Colores, Formas de pago, Stocks, Multi-precios, Categorias, Carrito de la compra, Notificaciones, Mis compras
                                    </li>
                                    <li>
                                        <strong>Promociones:</strong> Sistema de códigos promocionales para cualquier artículo o evento
                                    </li>
                                    <li><strong>Idiomas:</strong> Catalán, Castellano y Inglés</li>
                                    <li>
                                        <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter (en tres idiomas)
                                    </li>
                                    <li>
                                        <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                    </li>
                                    <li><strong>Otros:</strong> Servicios, Entrenamientos, Club NeM</li>

                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tecnoNem">
                                <ul>
                                    <li>
                                        <strong>Framework:</strong> Asp.Net 4.5.1, MVC2, MVC4
                                    </li>
                                    <li>
                                        <strong>Base de datos:</strong> Sql Server
                                    </li>
                                    <li>
                                        <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                                    </li>
                                    <li>
                                        <strong>Hosting:</strong> Windows Server 2012, IIS 8
                                    </li>
                                    <li>
                                        <strong>IDE:</strong> Visual Studio 2010 y Visual Studio 2012
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="InfraNem">
                                <ul>
                                    <li>
                                        <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), ViewModels (DTO's), Cliente (MVC)
                                    </li>
                                    <li>
                                        <strong>ORM:</strong> Entity Framework Database First
                                    </li>
                                    <li>
                                        <strong>Log de errores:</strong> ELMAH
                                    </li>
                                    <li>
                                        <strong>Log de eventos:</strong> NLog
                                    </li>
                                    <li>
                                        <strong>Informes:</strong> Reporting Services, Excel
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>

    <div class="col-md-6">

        <h4 class="typo">
            Web del Club Balonmano Alcobendas. <a href="http://www.balonmanoalcobendas.org" target="_blank">www.balonmanoalcobendas.org</a>
        </h4>

        <a href="http://www.balonmanoalcobendas.org" target="_blank">
            <img src="/Images/alcobendas.jpg" alt="Balonmano Alcobendas" />
        </a>
        <br />
        <br />
        <!-- Button trigger modal -->
        <a class="btn btn-default" data-toggle="modal" data-target="#dialogBm" href="#">
            Detalles técnicos
        </a>

        <!-- Modal -->
        <div class="modal fade" id="dialogBm" tabindex="-1" role="dialog" aria-labelledby="myModalBm">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#modulosBm" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                            <li role="presentation"><a href="#tecnoBm" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                            <li role="presentation"><a href="#InfraBm" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="modulosBm">
                                <ul>
                                    <li>
                                        <strong>Contenidos dinámicos:</strong> Blog de noticias, Blog de historia, Álbumes fotos, Categorias ,  Slides frontales, Sidebars y SEO
                                    </li>
                                    <li><strong>Club deportivo: </strong> Equipos, Entrenadores, Categorias equipos, Temporadas, Colaboradores, Sponsors y Promociones
                                    <li>
                                        <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                                    </li>
                                    <li>
                                        <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                    </li>
                                    <li><strong>Otros:</strong> Multimedia, Microsite Copa de la Reina, Club Empresas, Abonados, Club</li>

                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tecnoBm">

                                <ul>
                                    <li>
                                        <strong>Framework:</strong> Asp.Net 4.5, MVC4
                                    </li>
                                    <li>
                                        <strong>Base de datos:</strong> Sql Server
                                    </li>
                                    <li>
                                        <strong>Código:</strong> HTML5, CSS, Javascript (jquery, jquery UI, AJAX), C#, T-SQL
                                    </li>
                                    <li>
                                        <strong>Hosting:</strong> Windows Server 2012, IIS 8
                                    </li>
                                    <li>
                                        <strong>IDE:</strong> Visual Studio 2012
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="InfraBm">
                                <ul>
                                    <li>
                                        <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Servicios), Modelos (DTO's), Cliente (MVC)
                                    </li>
                                    <li>
                                        <strong>ORM:</strong> Entity Framework Database First
                                    </li>
                                    <li>
                                        <strong>Log de errores:</strong> ELMAH
                                    </li>
                                    <li>
                                        <strong>Log de eventos:</strong> NLog
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>



</div>


<div class="row">

    <div class="col-md-6">

        <h4 class="typo">
            Web de compra colectiva enfocada en la provincia de Gerona. <a href="https://www.quedatgirona.cat" target="_blank">www.quedatgirona.cat</a>
        </h4>

        <a href="https://www.quedatgirona.cat" target="_blank">
            <img src="/Images/quedatgirona.jpg" alt="Queda't Girona" />
        </a>
        <br />
        <br />
        <!-- Button trigger modal -->
        <a class="btn btn-default" data-toggle="modal" data-target="#dialogGirona" href="#">
            Detalles técnicos
        </a>

        <!-- Modal -->
        <div class="modal fade" id="dialogGirona" tabindex="-1" role="dialog" aria-labelledby="myModalGirona">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">


                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#modulosGirona" aria-controls="home" role="tab" data-toggle="tab">Módulos</a></li>
                            <li role="presentation"><a href="#tecnoGirona" aria-controls="profile" role="tab" data-toggle="tab">Tecnologia</a></li>
                            <li role="presentation"><a href="#InfraGirona" aria-controls="messages" role="tab" data-toggle="tab">Infraestructura</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="modulosGirona">
                                <ul>
                                    <li>
                                        <strong>Contenidos dinámicos:</strong> Ofertas, Vales, Categorias, Sidebars, Imágenes, Poblaciones, Multi-precio y SEO
                                    </li>
                                    <li>
                                        <strong>Seguridad:</strong> Gestión de usuarios y permisos
                                    </li>
                                    <li>
                                        <strong>Negocios:</strong> Gestión de negocios, back-office negocios, control de vales, impresión de informes
                                    </li>
                                    <li>
                                        <strong>Ventas:</strong> Control integrado de las ventas, pasarela bancaria
                                    </li>
                                    <li>
                                        <strong>Marketing:</strong> Gestión de subscriptores, envío integrado de la newsletter
                                    </li>
                                    <li>
                                        <strong>Fidelidad:</strong> Sistema de puntos y sistema de descuentos promocionales
                                    </li>
                                    <li>
                                        <strong>Administración:</strong> Sistema de facturación integrado
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tecnoGirona">
                                <ul>
                                    <li>
                                        <strong>Framework:</strong> Asp.Net 4.5, MVC5
                                    </li>
                                    <li>
                                        <strong>Base de datos:</strong> Sql Server
                                    </li>
                                    <li>
                                        <strong>Código:</strong> HTML5, CSS, Javascript (jQuery, jQuery UI, AJAX), C#, T-SQL
                                    </li>
                                    <li>
                                        <strong>Hosting:</strong> Windows Server 2012, IIS 8
                                    </li>
                                    <li>
                                        <strong>IDE:</strong> Visual Studio 2012
                                    </li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="InfraGirona">
                                <ul>
                                    <li>
                                        <strong>Arquitectura de capas:</strong> Datos (EF), Lógica de negocio (Services), Cliente (MVC)
                                    </li>
                                    <li>
                                        <strong>ORM:</strong> Entity Framework Code First
                                    </li>
                                    <li>
                                        <strong>Log de errores:</strong> ELMAH
                                    </li>
                                    <li>
                                        <strong>Log de eventos:</strong> NLog
                                    </li>
                                    <li>
                                        <strong>Informes:</strong> Reporting Services
                                    </li>
                                    <li>
                                        <strong>IoC:</strong> Ninject
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>









