@using System.ComponentModel
 <!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">
    <!-- Side Widget Well -->
    <div class="well">
        <h4 class="color1">¡Hola!</h4>

        <p>Mi nombre es Laura y vivo en El Masnou, un pueblo de playa cerca de Barcelona.</p>
        <img class="img-circle" src="~/Content/imagenes/laura.jpg" alt="Smoothies de Cuchara" style="max-width:85%; padding: 5px;" />
        <p>De niña quería ser exploradora pero finalmente terminé por dedicarme a la informática. 
        Un giro como cualquier otro. <a class="smaller" href="Hola/Index">Seguir leyendo <span class="glyphicon glyphicon-arrow-right"></span></a></p>

    </div>
        <!-- Blog Categories Well -->
    @Html.Action("NubeEtiquetas", "Sidebar")

 

    </div>