@model Blog.ViewModels.Contacto.FormularioContactoViewModel
@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<h3>¡Ups! Parece que no se ha enviado el mensaje</h3>

<p>
    Esto se debe a que eres un robot, o a que no has escrito correctamente el día de la semana en la pregunta:<br/>
    "Huevo, perro, abeja o viernes, ¿cuál es el día de la semana?"
</p>

<p>
     <a href="javascript:history.back()">Volver atrás</a>
</p>
