@model LG.Web.Servicios.Contacto.FormularioContactoViewModel
@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<h3>¡Gracias! El mensaje se ha enviado correctamente</h3>

<p>
    Contestaré lo antes posible. ¡Un abrazo!
</p>

<p>
    <a href="\">Volver a inicio</a>
</p>
