@model LG.Web.Views.Recetas.ViewModels.Editores.EditorIngredienteReceta

        <tr class="editorIngrediente">
            <td class="col-md-11">
                @Html.HiddenFor(m => m.Posicion)
                
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.NombreIngrediente, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </td>
            <td class="col-md-1">               
                @Html.HiddenFor(x => x.EstaMarcadoParaEliminar, new { @class = "mark-for-delete" })
                <a href="#" class="btn" onclick="javascript: removeNestedForm(this, 'tr.editorIngrediente', 'input.mark-for-delete'); return false;">
                    Eliminar
                </a>
             </td>
        </tr>


