   <footer>
    <div class="container">
        <div class="col-lg-3">
            <h3 class="color2">albertcapdevila<span class="color3">.net</span></h3>
        </div> 
        <div class="col-lg-3">
            <ul>   
                <li>
                    @Html.ActionLink("Libors", "Index", "Libros")
                </li>
                <li>
                    <a href="https://github.com/acapdevila/Blog-MVC5" target="_blank">Github</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/programadorwebalbertcapdevila/" target="_blank">Linkedin</a>
                </li>
                <li>
                    @Html.ActionLink("Contacto", "Index", "Contacto")
                </li>
                           
            </ul>
        </div>
                    
        <div class="col-lg-3">
            <ul>
                <li>
                    <a href="@Url.Action("AvisoLegal", "Principal")" target="_blank" nofollow>Aviso legal</a>
                </li>
                <li>
                    <a href="@Url.Action("PoliticaCookies", "Principal")" target="_blank" nofollow>Política de cookies</a>
                   </li>
               </ul>
           </div>


       </div>
   </footer>
