<div class="well">
    <h4 class="color3">
        Lenguajes, tecnologías, frameworks y bases de datos en los que tengo experiencia
    </h4>

    <p>

        <dl class="dl-horizontal">

            <dt>Lenguajes:</dt>
            <dd>C#, VB.net, Tranasct-SQL, javascript, CSS, HTML</dd>
            
            <dt>Frameworks:</dt>
            <dd>.net Framework, .net Core, MVC, RazorPages, WebForms, WinForms, WPF, Xamarin, Entity Framework, WCF, jQuery, Bootstrap</dd>
            
            <dt>Bases de datos:</dt>
            <dd>SQL Server, Access</dd>

            <dt>IDE:</dt>
            <dd>Visual Studio, Visual Studio Code</dd>
            
            <dt> Nube:</dt>
            <dd>Azure (AppServices, SQLAzure, Bus), Máquinas virtuales, Hosting compartido</dd>

            <dt>Código:</dt>
            <dd>patrones de diseño, principios de programación, código limpio (SOLID), programación orientada al dominio DDD</dd>

            <dt>Certificaciones:</dt>
            <dd>
                MCPS: Microsoft Certified Professional, MCSA: Web Applications, MCSD: App Builder, MS: Programming in HTML5 with JavaScript and CSS3, MCSD: Web Applications, Microsoft .NET Fundamentals (C#)
            </dd>

        </dl>
    </p>
</div>

